    pandas
    numpy>=1.25.2
    brax==0.10.0
    chex>=0.1.82
    flax==0.7.2
    jax==0.4.14
    jaxlib==0.4.14+cuda12.cudnn89 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
    jaxopt==0.8
    jaxtyping==0.2.21
    jaxutils==0.0.8
    ml-collections==0.1.0
    numba
    scipy==1.11.2
    setuptools>=68.1.2
    tensorflow>=2.13.0
    mbpo @ git+https://github.com/lasgroup/Model-based-policy-optimizers.git
    bsm @ git+https://github.com/lasgroup/bayesian_statistical_models.git
    wtc @ git+ssh://git@github.com/lenarttreven/when_to_control.git
    ray
    